# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Array/Initializing an array of longs/out/
/Topics/Array/Initializing an array of longs/out/production/classes/
/Topics/Branching statements/Even or odd/out/
/Topics/Branching statements/Even or odd/out/production/classes/
/Topics/Calling a method/Call me awesome/out/
/Topics/Calling a method/Call me awesome/out/production/classes/
/Topics/Comments/Uncomment a line/out/
/Topics/Comments/Uncomment a line/out/production/classes/
/Topics/Errors in programs/Fix the program/out/
/Topics/Errors in programs/Fix the program/out/production/classes/
/Topics/Errors in programs/Print the age/out/
/Topics/Errors in programs/Print the age/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Integer types and operations/Arithmetic expression/out/
/Topics/Integer types and operations/Arithmetic expression/out/production/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Integer types and operations/First digit/out/
/Topics/Integer types and operations/First digit/out/production/classes/
/Topics/Integer types and operations/Reversing/out/
/Topics/Integer types and operations/Reversing/out/production/classes/
/Topics/Integer types and operations/Reversing input numbers/out/
/Topics/Integer types and operations/Reversing input numbers/out/production/classes/
/Topics/Integer types and operations/Snail/out/
/Topics/Integer types and operations/Snail/out/production/classes/
/Topics/Iterating over arrays/Boxes/out/
/Topics/Iterating over arrays/Boxes/out/production/classes/
/Topics/Iterating over arrays/Right Rotation/out/
/Topics/Iterating over arrays/Right Rotation/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/production/classes/
/Topics/Multidimensional array/Cinema/out/
/Topics/Multidimensional array/Cinema/out/production/classes/
/Topics/Multidimensional array/Maximum element in a matrix/out/
/Topics/Multidimensional array/Maximum element in a matrix/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multidimensional array/The star figure/out/
/Topics/Multidimensional array/The star figure/out/production/classes/
/Topics/Overview of the basic program/Cats are robots/out/
/Topics/Overview of the basic program/Cats are robots/out/production/classes/
/Topics/Printing data/Digits from 0 to 9 in a single line/out/
/Topics/Printing data/Digits from 0 to 9 in a single line/out/production/classes/
/Topics/Printing data/First, second, third/out/
/Topics/Printing data/First, second, third/out/production/classes/
/Topics/Printing data/From 0 to 4/out/
/Topics/Printing data/From 0 to 4/out/production/classes/
/Topics/Printing data/Printing a magic letter/out/
/Topics/Printing data/Printing a magic letter/out/production/classes/
/Topics/Printing data/The result of a Tic-Tac-Toe game/out/
/Topics/Printing data/The result of a Tic-Tac-Toe game/out/production/classes/
/Topics/Relational operators/Check the given numbers are different/out/
/Topics/Relational operators/Check the given numbers are different/out/production/classes/
/Topics/Relational operators/Check the sum/out/
/Topics/Relational operators/Check the sum/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Relational operators/Exactly one parameter is positive/out/
/Topics/Relational operators/Exactly one parameter is positive/out/production/classes/
/Topics/Scanning the input/Guest list of a hotel/out/
/Topics/Scanning the input/Guest list of a hotel/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/Scanning the input/Printing each word in a new line/out/
/Topics/Scanning the input/Printing each word in a new line/out/production/classes/
/Topics/Scanning the input/Printing strings in the same order/out/
/Topics/Scanning the input/Printing strings in the same order/out/production/classes/
/Topics/String/Comparing strings ignoring whitespaces/out/
/Topics/String/Comparing strings ignoring whitespaces/out/production/classes/
/Topics/String/Extracting a substring/out/
/Topics/String/Extracting a substring/out/production/classes/
/Topics/The for-loop/Grades/out/
/Topics/The for-loop/Grades/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/
/Topics/The while and do-while loops/Collatz conjecture/out/
/Topics/The while and do-while loops/Collatz conjecture/out/production/classes/
/Topics/The while and do-while loops/Profit/out/
/Topics/The while and do-while loops/Profit/out/production/classes/
/Topics/The while and do-while loops/The length of the sequence/out/
/Topics/The while and do-while loops/The length of the sequence/out/production/classes/
/Topics/Types and variables/Fill the declaration/out/
/Topics/Types and variables/Fill the declaration/out/production/classes/
/Topics/Types and variables/Invalid declaration of variables/out/
/Topics/Types and variables/Invalid declaration of variables/out/production/classes/